<button class="navbar-toggler px-2" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" type="button" aria-expanded="false" aria-controls="navbar-collapse">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse">

</div>

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#content-ddlGestiona" data-bs-auto-close="true" role="button" aria-expanded="false" aria-controls="content-ddlGestiona">
            Gestionar
        </a>
        <ul class="dropdown-menu" id="content-ddlConsulta">
            <li>@Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Proveedores", "Index", "Proveedor", null, new { @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Categorías", "Index", "Categoria", null, new { @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Locales", "Index", "Local", null, new { @class = "dropdown-item" })</li>
        </ul>
    </li>
    <li class="nav-item">
        @Html.ActionLink("Cotizacion", "Index", "Cotizacion", null, new { @class = "nav-link" })
    </li>
</ul>

<style>
    /* Changes Navigation link´s color on mouse hover */
    .nav-link {
        color: #FFF !important;
    }
    .nav-link:hover {
        color: var(--content1) !important;
    }
    /* Changes navbar toggler`s background */
    .navbar-toggler[aria-expanded="true"] {
        background-color: var(--content2);
    }
</style>