<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SIGEVALP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Consultar Stock", "Index", "ProductoxAlmacen")</li>
                <li>@Html.ActionLink("Generar Solicitud", "Index", "Solicitud")</li>
                <li>@Html.ActionLink("Generar Orden", "Index", "OrdenCompra")</li>
                <li>@Html.ActionLink("Producto", "Index", "Producto")</li>
                <li>@Html.ActionLink("Proveedor", "Index", "Proveedor")</li>
                <li>@Html.ActionLink("Categoría", "Index", "Categoria")</li>
                <li>@Html.ActionLink("Local", "Index", "Local")</li>

                @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>*@
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
