<div class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" type="button" aria-expanded="false" aria-controls="navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("SIGEVALP", "Index", "Home", null, new { @class = "navbar-brand text-white" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#content-ddlGestiona" data-bs-auto-close="true" role="button" aria-expanded="false" aria-controls="content-ddlGestiona">
                        Gestionar
                    </a>
                    <ul class="dropdown-menu" id="content-ddlConsulta">
                        <li>@Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Proveedores", "Index", "Proveedor", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Categorías", "Index", "Categoria", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Locales", "Index", "Local", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#content-ddlGenera" data-bs-auto-close="true" role="button" aria-expanded="false" aria-controls="content-ddlGenera">
                        Generar Orden
                    </a>
                    <ul class="dropdown-menu" id="content-ddlGenera">
                        <li>@Html.ActionLink("Orden de Compra", "Index", "OrdenCompra", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Solicitud", "Index", "Solicitud", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Cotizacion", "Index", "Cotizacion", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#content-ddlConsulta" data-bs-auto-close="true" role="button" aria-expanded="false" aria-controls="content-ddlConsulta">
                        Sobre Insumos
                    </a>
                    <ul class="dropdown-menu" id="content-ddlConsulta">
                        <li>@Html.ActionLink("Consultar Movimientos", "Index", "HistorialMovimiento", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Consultar Stock", "Index", "ProductoxAlmacen", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
            </ul>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</div>

<style>
    /* Navbar´s background and brand's color on hover */
    .navbar {
        background-color: var(--base2) !important;
    }
    .navbar-brand:hover {
        color: var(--content1) !important;
    }
    /* Navigation link´s color base and when mouse is over */
    .nav-link {
        color: #FFF !important;
    }
    .nav-link:hover {
        color: var(--content1) !important;
    }
    /* Hides the border and the box-shadow of the navbar-toggler-icon svg */
    .navbar-toggler {
        border-color: transparent !important;
        padding-left: 0px;
        color: transparent;
    }
    .navbar-toggler[aria-expanded="true"] {
        /*border-color: transparent !important;
        color: transparent;*/
    }
    /* Changes the toggler icon color */
    .navbar-toggler-icon { /* The encoding notation replaces the desired character with a percent sign and two hexadecimal digits position of the character in the ASCII character set. */
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    /* When the toggler is focused: Hides the outer contour at the border of the navbar-toggler-icon svg */
    .navbar .navbar-toggler:focus {
        /*color: transparent;*/
    }
</style> 