<ul class="navbar-nav" id="OffCanvasBody">
    <li>
        <strong class="my-2">Gestionar</strong>
        @Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Proveedores", "Index", "Proveedor", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Categorías", "Index", "Categoria", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Locales", "Index", "Local", null, new { @class = "unstyled-link text-black my-1 mx-3" })
    </li>
    <li>
        <strong class="my-2">Documentos</strong>
        @Html.ActionLink("Orden de Compra", "Index", "OrdenCompra", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Solicitud", "Index", "Solicitud", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Cotizar Insumos", "Index", "Cotizacion", null, new { @class = "unstyled-link text-black my-1 mx-3" })
    </li>
    <li>
        <strong class="my-2">Sobre Insumos</strong>
        @Html.ActionLink("Consultar Movimientos", "Index", "HistorialMovimiento", null, new { @class = "unstyled-link text-black my-1 mx-3" })
        @Html.ActionLink("Consultar Stock", "Index", "ProductoxAlmacen", null, new { @class = "unstyled-link text-black my-1 mx-3" })
    </li>
</ul>
@* bg_gray content en focus *@
