@model SIGEVALP.Models.Categoria
@{
    ViewBag.Title = "Edit";
}

<h2>Modificar Categoria</h2>

@Html.ActionLink("Regresar", "Index")
<hr />

@using (Html.BeginForm("Edit", "Categoria"))
{    
    @Html.AntiForgeryToken();    

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.nombre, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.descripcion, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-warning" />
            </div>
        </div>
    </div>    
}
