@model IEnumerable<SIGEVALP.Models.Producto>
@{
    ViewBag.Title = "Catálogo";
}

<h2>  Productos
      <a href="/Producto/Create">
          <img src="\Content\material icons\add_24px.svg" />
      </a>
</h2>
<br/>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
        <th>Opción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre)
            </td>
            <td>
                <a href="/Producto/Edit/@item.id">
                    <img src="\Content\material icons\edit_24px.svg" />
                </a>
            </td>
        </tr>
    }
</table>
