@model IEnumerable<SIGEVALP.Models.Producto>

@{
    ViewBag.Title = "Catálogo";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Registrar", "Create",null,new {@class="btn btn-default"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
        <th>Opción</th>
    </tr>

@foreach (var item in Model) {
    <tr>    
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id })             
        </td>
    </tr>
}
</table>
