@model SIGEVALP.ViewModels.HistorialMovimientoViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Movimiento de Insumos</h2>
<br />

@using (Html.BeginForm("Index", "HistorialMovimiento", FormMethod.Post))
{
    <div>
        <div class="form-group">
            <h5>Código de Producto</h5>
            @Html.TextBox("codigo", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <h5>Nombre de Producto</h5>
            @Html.TextBox("nombre", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Buscar">
        </div>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.detalleSolicitud[0].Producto.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalleSolicitud[0].Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalleSolicitud[0].Producto.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalleSolicitud[0].Producto.Categoria.nombre)
        </th>
        <th>
            Fecha
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Tipo
        </th>
        <th>
            Opción
        </th>
    </tr>

    @foreach (var item in Model.detalleCompra)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Categoria.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadRecibida)
            </td>
            <td>
                Ingreso
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.id, tipo = "Ingreso" })
            </td>
        </tr>
    }

    @foreach (var item in Model.detalleSolicitud)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Categoria.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantEntregada)
            </td>
            <td>
                Salida
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.id, tipo = "Salida" })
            </td>
        </tr>
    }
</table>

