@model IEnumerable<SIGEVALP.Models.Solicitud>
@{
    ViewBag.Title = "Index";
}

<h2>  Mis Solicitudes
    <a href="/Solicitud/Create">
        <img src="\Content\material icons\add_24px.svg" />
    </a>
</h2>
<br />

@using (Html.BeginForm("Index", "Solicitud", FormMethod.Post))
{
    <div class="form-horizontal">
        <div>
            <h5>Código de Solicitud</h5>
            @Html.TextBox("cod", "", new { @class = "form-control col-md-2" })
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-default">Buscar</button>
        </div>              
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Persona.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Local.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Opción</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Persona.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Local.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.id })
        </td>
    </tr>
}
</table>
