@model SIGEVALP.Models.OrdenCompra
@{
    ViewBag.Title = "Create";
}

<head>
    <script type="module">
        import * as detail from '../../Scripts/master-detail_validation.js';
        window.detail = detail;
    </script>
</head>

<h2>Registro</h2>
<h4>Orden Compra</h4>
<div>
    @Html.ActionLink("Regresar", "Index")
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">        
        @if (Url.RequestContext.RouteData.Values.ContainsKey("id") == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Proveedor.nombre, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("idProveedor", new SelectList(ViewBag.Proveedores, "id", "nombre"), "Seleccione Proveedor", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Seleccionar" class="btn btn-default" />
                </div>
            </div>
        }
        else
        {
            @Html.Hidden("idProveedor", Url.RequestContext.RouteData.Values["id"])

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario.username, "Usuario", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownList("idUsuario", new SelectList(ViewBag.Usuarios, "id", "Persona.nombre"), "Seleccione Usuario", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaOrden, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBox("fechaOrden", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control", @disabled = "disabled" })
                </div>

                @Html.LabelFor(model => model.fechaPago, new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBox("fechaPago", DateTime.Today.AddDays(5).ToString("yyyy-MM-dd"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Producto</label>
                <div id="id-prod" class="col-md-3">
                    @Html.DropDownList("idProducto", new SelectList(ViewBag.Productos, "Producto.codigo", "Producto.nombre"), "Seleccionar Producto", new { @class = "form-control col-md-3" })
                    <span id="span-prod" class="field-validation-error text-danger" text-danger></span>
                </div>

                <label class="control-label col-md-2">Cantidad</label>
                <div id="cant-rec" class="col-md-3">
                    <input type="text" id="cantidad" class="form-control" />
                    <span id="span-cant" class="field-validation-error text-danger" text-danger></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="agregar" type="button" value="Agregar" onclick="Agregar();" class="btn btn-default" />
                    <input type="submit" value="Registrar" class="btn btn-default" />
                </div>
            </div>

            <div id="div-detalle">
                <span id="span-edicion" class="field-validation-error text-danger" text-danger></span>
                <table id="tabla-detalle" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Recibido</th>
                            <th>Observación</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-cuerpo">
                    </tbody>
                </table>
                <div id="detalle-input"></div>
            </div>
        }
    </div>
}

<script>
    var n = 0;
    let body = document.getElementById("tabla-cuerpo");
    let div_detalle_input = document.getElementById("detalle-input");    
    function Agregar() {
        //obtenemos valores de elementos
        let quantity = document.getElementById("cantidad");
        let selectElement = document.getElementById("idProducto");
        let nameElement = selectElement.options[selectElement.selectedIndex].text;
        let valueElement = selectElement.options[selectElement.selectedIndex].value;
        let id = detail.GetId(valueElement);

        let valid = document.getElementById("span-prod");
        let valcant = document.getElementById("span-cant");

        if (!valueElement || !quantity.value) {
            valid.innerHTML = detail.EqualsZero(id);
            valcant.innerHTML = detail.EmptyOrMinor(quantity.value);
        }
        else if (quantity.value < 0) {
            valid.innerHTML = "";
            valcant.innerHTML = detail.LessThanZero(quantity.value);
        }
        else {
            valid.innerHTML = "";
            valcant.innerHTML = "";
            //crear filas
            let tr = document.createElement("tr");
            body.appendChild(tr);
            tr.id = n;
            //celdas
            detail.createTd(valueElement, tr);
            detail.createTd(nameElement, tr);
            detail.createTd(quantity.value, tr);
            detail.createTd(0, tr);
            detail.createTd("En orden", tr);
            //botones 
            let tdopccion = document.createElement("td");
            tr.appendChild(tdopccion);
            detail.createButton("Editar", tdopccion, function () { Editar(this) });
            detail.createButton("Eliminar", tdopccion, function () { Eliminar(this) });

            //crear div para inputs
            let detalle_input = document.createElement("div");
            detalle_input.id = "input-" + n;
            div_detalle_input.appendChild(detalle_input);
            //crear elementos input
            detail.createInput(n, "DetalleCompras", "idProducto", id, detalle_input);
            detail.createInput(n, "DetalleCompras", "cantidad", quantity.value, detalle_input);
            detail.createInput(n, "DetalleCompras", "cantidadRecibida", 0, detalle_input);
            
            selectElement.value = "";
            quantity.value = "";
            n++;
        }
    }
    var enEdicion = false;
    let valedicion = document.getElementById("span-edicion");
    function Editar(nodo) {
        if (enEdicion == false) {
            let td = nodo.parentNode;
            let tr = td.parentNode;
            let nodostr = tr.getElementsByTagName("td");

            let tdid = nodostr[0].innerHTML;
            let tdnombre = nodostr[1].innerHTML;
            let tdrequerido = nodostr[2].innerHTML;
            let tdrecibido = nodostr[3].innerHTML;
            let tdalerta = nodostr[4].innerHTML;
            let opccionId = "tdopccion-" + detail.GetId(tdid);
            console.log(tdid);
            console.log(tdnombre);
            console.log(tdrequerido);
            console.log(tdrecibido);
            console.log(tdalerta);

            let nuevotd = '<td>' + tdid + '</td>' + '<td>' + tdnombre + '</td>' +
                '<td>' + '<input id = "tdCant" type = "text" value = "' + tdrequerido + '"size = "7">' +
                '<span id="span-detalle-cantidad" class="field-validation-error text-danger"></span>' + '</td>' +
                '<td>' + tdrecibido + '</td>' +
                '<td>' + tdalerta + '</td>' +
                '<td id = "' + opccionId + '"></td>';
            tr.innerHTML = nuevotd;

            let tdopccion = document.getElementById(opccionId);
            detail.createButton("Aceptar", tdopccion, function () { Aceptar(this) });
            detail.createButton("Cancelar", tdopccion, function () { Cancelar(this) });

            enEdicion = true;
        }
        else {
            valedicion.innerHTML = "Termine de editar un detalle. Para continuar...";
        }
    }
    function Aceptar(nodo) {
        let td = nodo.parentNode;
        let tr = td.parentNode;
        let nodostr = tr.getElementsByTagName("td");
        let tdid = nodostr[0].innerHTML;
        let tdnombre = nodostr[1].innerHTML;
        let tdrecibido = nodostr[3].innerHTML;
        let tdalerta = nodostr[4].innerHTML;
        //si son símbolos
        //si cantidad es fraccion
        let td_input_cant = document.getElementById("tdCant");
        let valcant = document.getElementById("span-detalle-cantidad");

        if (!td_input_cant.value) {
            valcant.innerHTML = detail.EmptyOrMinor(td_input_cant.value);
        }
        else if (td_input_cant.value < 0) {
            valcant.innerHTML = detail.LessThanZero(td_input_cant.value);
        }
        else {
            enEdicion = false;
            valedicion.innerHTML = "";

            let opccionId = "tdopccion-" + detail.GetId(tdid);

            //reemplazar data de inputs a celdas        
            let nuevotd = '<td>' + tdid + '</td>' + '<td>' + tdnombre + '</td>' +
                '<td>' + td_input_cant.value + '</td>' +
                '<td>' + tdrecibido + '</td>' +
                '<td>' + tdalerta + '</td>' +
                '<td id = "' + opccionId + '"></td>';
            tr.innerHTML = nuevotd;

            let tdopccion = document.getElementById(opccionId);
            detail.createButton("Editar", tdopccion, function () { Editar(this) });
            detail.createButton("Eliminar", tdopccion, function () { Eliminar(this) });

            //modificar elementos inputs
            let in_detalle_cantidad = document.getElementById("DetalleCompras[" + tr.id + "].cantidad");
            in_detalle_cantidad.value = td_input_cant.value;
        }
    }
    function Cancelar(nodo) {
        enEdicion = false;
        valedicion.innerHTML = "";

        let td = nodo.parentNode;
        let tr = td.parentNode;
        let nodostr = tr.getElementsByTagName("td");

        let tdid = nodostr[0].innerHTML;
        let tdnombre = nodostr[1].innerHTML;
        let tdrequerido = document.getElementById("DetalleCompras[" + tr.id + "].cantidad");
        let tdrecibido = nodostr[3].innerHTML;
        let tdalerta = nodostr[4].innerHTML;
        let opccionId = "tdopccion-" + detail.GetId(tdid);

        let nuevotd = '<td>' + tdid + '</td>' + '<td>' + tdnombre + '</td>' +
            '<td>' + tdrequerido.value + '</td>' +
            '<td>' + tdrecibido + '</td>' +
            '<td>' + tdalerta + '</td>' +
            '<td id = "' + opccionId + '"></td>';
        tr.innerHTML = nuevotd;

        let tdopccion = document.getElementById(opccionId);
        detail.createButton("Editar", tdopccion, function () { Editar(this) });
        detail.createButton("Eliminar", tdopccion, function () { Eliminar(this) });
    }
    function Eliminar(nodo) {
        let td = nodo.parentNode;
        let tr = td.parentNode;
        var inputIndex = parseInt(tr.id);
        console.log(div_detalle_input);
        console.log(n);
        console.log(tr.id);

        //no eliminar antes de obtener el tr.id
        let deleteinput = document.getElementById("input-" + tr.id);
        div_detalle_input.removeChild(deleteinput);
        let deletetr = document.getElementById(tr.id);
        body.removeChild(deletetr);
        //si hay más de un detalle y la selección no es el ultimo detalle, entonces elimina, reinicia n y ordena
        //si es diferente eliminar y reiniciar
        if (n > 1 && inputIndex != n - 1) {
            for (var i = inputIndex; i < n - 1; i++) {//indice for de acuerdo a selección
                var nextInputId = inputIndex + 1;
                var nextinput = document.getElementById("input-" + nextInputId);
                var nextbody = document.getElementById(nextInputId);
                var input = nextinput.children;
                console.log(nextinput);
                //cambiar id del div y el nombre de inputs
                nextbody.id = inputIndex;
                nextinput.id = "input-" + inputIndex;
                detail.createInputId(input[0], inputIndex, "DetalleCompras", "idProducto");
                detail.createInputId(input[1], inputIndex, "DetalleCompras", "cantidad");
                detail.createInputId(input[2], inputIndex, "DetalleCompras", "cantidadRecibida");
                inputIndex++;
                console.log(inputIndex);
            }
        }
        n--;
    }  
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


