@model IEnumerable<SIGEVALP.Models.OrdenCompra>
@{
    ViewBag.Title = "Index";
}

<h2>  Ordenes de Compra
      <a href="/OrdenCompra/Create">
          <img src="\Content\material icons\add_24px.svg" />
      </a>
</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Persona.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Local.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaOrden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Opción</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Persona.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Local.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaOrden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            <a href="/OrdenCompra/Details/@item.id">
                <img src="\Content\material icons\description_24px.svg" />
            </a>
        </td>
    </tr>
}
</table>
