@model IEnumerable<SIGEVALP.Models.ProductoxAlmacen>
@{
    ViewBag.Title = "Index";
}

<h2>Reporte Stock</h2>

@using (Html.BeginForm("Index", "ProductoxAlmacen", FormMethod.Post, new { @id = "form1" }))
{
    <div>
        @Html.Hidden("check")
        <div class="form-group">
            <h5>Código de Producto</h5>
            @Html.TextBox("codigo", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <h5>Nombre de Producto</h5>
            @Html.TextBox("nombre", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-default" onclick="Search();" value="Buscar">
            <input type="button" class="btn btn-default" onclick="Report();" value="Generar Reporte">
            <input type="button" class="btn btn-default" onclick="Print();" value="Imprimir Pdf">
        </div>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Categoria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>Opcción</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Categoria.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @if (item.stock_min == 0 || item.stock_max == 0)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn-light" })
                }
            </td>
        </tr>
    }
</table>

<script>
    let form = document.getElementById("form1");
    let bool = document.getElementById("check");
    function Search() {
        bool.value = "Index";
        form.submit();
    }
    function Report() {
        bool.value = "Report";
        form.submit();
    }
    function Print() {
        bool.value = "Report";
        form.setAttribute("action", "/ProductoxAlmacen/Print");
        form.submit();
    }
</script>