@model IEnumerable<SIGEVALP.Models.ProductoxAlmacen>
@{
    ViewBag.Title = "Index";
}

<h2>Reporte Stock</h2>

@using (Html.BeginForm("Index", "ProductoxAlmacen", FormMethod.Post))
{
    <div>
        <div class="form-group">
            <h5>Código de Producto</h5>
            @Html.TextBox("cod", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <h5>Nombre de Producto</h5>
            @Html.TextBox("cad", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Buscar">
        </div>
    </div>
}

@using (Html.BeginForm("Report", "ProductoxAlmacen", FormMethod.Post, new { @id = "form2" }))
{
    <div class="form-group">
        @Html.TextBox("codigo", "", new { @class = "form-control", @type = "hidden" })
        @Html.TextBox("cadena", "", new { @class = "form-control", @type = "hidden" })
        <button type="submit" class="btn btn-default" onclick="Generar(); return false;">Generar Reporte</button>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_min)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock_max)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Categoria.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_min)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_max)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Categoria.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
        </tr>
    }
</table>

<script>
    function Generar(){
        let cod = document.getElementById("cod");
        let cad = document.getElementById("cad");
        document.getElementById("codigo").value = cod.value;
        document.getElementById("cadena").value = cad.value;
        document.getElementById("form2").submit();
    }
</script>