@model SIGEVALP.Models.Cotizacion

@{
    ViewBag.Title = "Create";
}

<h2>Registrar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cotizacion</h4>
        <div>
            @Html.ActionLink("Regresar", "Index")   
        </div>
        <hr />   
        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUsuario", null, "Seleccionar Usuario", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idProveedor, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProveedor", null, "Seleccionar Proveedor", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Fecha", DateTime.Today.ToString("yyyy-MM-dd"), new { @disabled="disabled", @class = "form-control" } )                                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Estado","Pendiente", new { @disabled = "disabled", @class = "form-control" })                
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" display:flex;>
            <label class="control-label">Producto</label>
            <div id="id-prod">
                @Html.DropDownList("idProducto", null, "Seleccionar Producto", htmlAttributes: new { @class = "form-control" })
                <span id="span-prod" class="field-validation-error text-danger" text-danger></span>
            </div>

            <label class="control-label col-md-2">Cantidad</label>
            <div id="cant" class="col-md-3">
                <input type="text" id="cantidad" class="form-control" />
                <span id="span-cant" class="field-validation-error text-danger" text-danger></span>
            </div>

            <label class="control-label col-md-2">Precio</label>
            <div id="pre" class="col-md-3">
                <input type="text" id="precio" class="form-control" />
                <span id="span-pre" class="field-validation-error text-danger" text-danger></span>
            </div>

            <label class="control-label col-md-2">% Descuento</label>
            <div id="desc" class="col-md-3">
                <input type="text" id="descuento" class="form-control" />
                <span id="span-desc" class="field-validation-error text-danger" text-danger></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Agregar" type="button" onclick="Agregar(); return false;" class="btn btn-default" />
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
        
        <div id="div-detalle">
            <table id="tabla-detalle" class="table table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unit.</th>
                        <th>Desc.</th>
                        <th>Total</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-cuerpo">
                </tbody>
            </table>
        </div>    
    </div>
}

<script>
    var n = 0;
    function Agregar() {
        //obtenemos valores de elementos
        let quantity = document.getElementById("cantidad");
        let price = document.getElementById("precio");
        let discount = document.getElementById("descuento");
        let selectElement = document.getElementById("idProducto");
        let nomElement = selectElement.options[selectElement.selectedIndex].text;
        let valElement = selectElement.options[selectElement.selectedIndex].value;
        let body = document.getElementById("tabla-cuerpo");

        //verificar que exista un elemento span, sino elimina input detalle done
        //despues de ingresar un detalle, ingreso no validado elimina input detalle  

        let valid = document.getElementById("span-prod");
        let valcant = document.getElementById("span-cant");
        let valprec = document.getElementById("span-pre");
        let valdesc = document.getElementById("span-desc");
        
        if (!valElement || !quantity.value  || !price.value || !discount.value)
        {       
            //switch case
            if (valElement == 0) { valid.innerHTML = "Seleccione un producto."; }
            else { valid.innerHTML = ""; }

            if (quantity.value == "") { valcant.innerHTML = "Ingrese una cantidad válida."; }
            else { valcant.innerHTML = ""; }
            
            if (price.value == "") { valprec.innerHTML = "Ingrese un precio válido."; }
            else { valprec.innerHTML = ""; }

            if (descuento.value == "") { valdesc.innerHTML = "Ingrese un descuento válido."; }        
            else { valdesc.innerHTML = ""; }
        }       
        
        else {        
            valid.innerHTML = "";
            valcant.innerHTML = "";
            valprec.innerHTML = ""; 
            valdesc.innerHTML = "";
            //crear filas y celdas de la tabla
            let tr = document.createElement("tr");
            let tdid = document.createElement("td");
            let tdnombre = document.createElement("td");
            let tdcantidad = document.createElement("td");
            let tdcosto = document.createElement("td");
            let tddescuento = document.createElement("td");
            let tdtotal = document.createElement("td");
            let tdopccion = document.createElement("td");
            //crear botones y definir atributos
            let btnEditar = document.createElement("input")
            btnEditar.value = "Editar";
            btnEditar.type = "button";
            btnEditar.onclick = "Editar(); return false";
            btnEditar.className = "btn btn-default";
            let btnEliminar = document.createElement("input")
            btnEliminar.value = "Eliminar";
            btnEliminar.type = "button";
            btnEliminar.onclick = "Eliminar(); return false";
            btnEliminar.className = "btn btn-default";
            //asigna jerarquía de elementos
            tr.appendChild(tdid);
            tr.appendChild(tdnombre);
            tr.appendChild(tdcantidad);
            tr.appendChild(tdcosto);
            tr.appendChild(tddescuento);
            tr.appendChild(tdtotal);            
            tr.appendChild(tdopccion)
            //asignar valor a celdas
            tdid.innerHTML = /*cuenta*/valElement;
            tdnombre.innerHTML = nomElement
            tdcantidad.innerHTML = quantity.value;
            tdcosto.innerHTML = price.value;
            tddescuento.innerHTML = discount.value;
            tdtotal.innerHTML = quantity.value * price.value;
            tdopccion.appendChild(btnEditar);
            tdopccion.appendChild(btnEliminar);            
            body.appendChild(tr);
            
            //crear elementos input
            let div = document.getElementById("div-detalle");
            let index = document.createElement("input")
            let idProd = document.createElement("input")            
            let cant = document.createElement("input")
            let cos = document.createElement("input")
            let desc = document.createElement("input")
            let total = document.createElement("input")            
            //asignar valores
            index.name = "DetalleCotizacion.Index";
            index.value = n;
            index.type = "hidden";
            idProd.name = "DetalleCotizacion[" + n + "].idProducto";
            idProd.value = valElement;
            idProd.type = "hidden";            
            cant.name = "DetalleCotizacion[" + n + "].cantidad";
            cant.value = quantity.value;
            cant.type = "hidden";
            cos.name = "DetalleCotizacion[" + n + "].costo";
            cos.value = price.value;
            cos.type = "hidden";
            desc.name = "DetalleCotizacion[" + n + "].descuento";
            desc.value = discount.value;
            desc.type = "hidden";
            total.name = "DetalleCotizacion[" + n + "].total";
            total.value = quantity.value * price.value;
            total.type = "hidden";            
            //asignar jerarquía de elementos
            div.appendChild(index);
            div.appendChild(idProd);            
            div.appendChild(cant);
            div.appendChild(cos);
            div.appendChild(desc);
            div.appendChild(total);           

            selectElement.value = "";
            quantity.value = "";
            price.value = "";
            discount.value = "";
            n++;
        }
    }
    function Validar() { }
    function Editar() { }
    function Eliminar() { }
</script>
