@model IEnumerable<SIGEVALP.Models.Cotizacion>
@{
    ViewBag.Title = "Index";
}

<h2>  Cotizaciones
      <a href="/Cotizacion/Create">
          <img src="\Content\material icons\add_24px.svg" />
      </a>
</h2>
<br />

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.username)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.neto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @{var stateClass = item.estado == "Pendiente" ? "label-warning" : "label-success";}
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.username)
        </td>             
        <td>        
            <span class="label @stateClass">@item.estado</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.neto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>        
        <td>
            <a href="/Cotizacion/Details/@item.id">
                <img src="\Content\material icons\description_24px.svg" />
            </a>|
            <a href="/Cotizacion/Edit/@item.id">
                <img src="\Content\material icons\edit_24px.svg" />
            </a>|
            <a href="/Cotizacion/Delete/@item.id">
                <img src="\Content\material icons\delete_24px.svg" />
            </a>
        </td>
    </tr>
}
</table>
